@model XorHub.Models.AssignmentSolutionModel
@{
    ViewBag.Title = "ViewResponses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table>
        <tr>
            <td>
                <h2>Title</h2>
            </td>
            <td>
                @Model.Assignment.Title
            </td>
        </tr>
        <tr>
            <td>
                <h2>Batch</h2>
            </td>
            <td>
                @Model.Assignment.BatchId
            </td>
        </tr>
    </table>

    <div>
        @using (Html.BeginForm("submit", "Assignment", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(u => u.Assignment.AssignmentId)

            <div>
                <h3>Responses</h3>
                @foreach (Solution sol in (IEnumerable<Solution>)ViewBag.solutions)
                {
                    <div class="row">
                        <a href=@Url.Content(String.Format("/Assignment/Response/{0}", sol.SolutionId))>
                            <div class="col-md-4">
                                <h4><strong> @sol.Username</strong> </h4>
                            </div>
                            <div class="col-md-2">
                                <small> @sol.UploadedOn</small>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4"></div>
                        </a>
                    </div>
                }
            </div>
        }
    </div>

</div>


